/* Styles for Home page */

.home-input-comp-1761407986406 {
  position: relative;
  width: 200px;
  height: 40px;
  border: ;
  border-width: 2px;
  border-color: efefef;
}

.home-custom-1761407990444-comp-1761407992563 {
  position: relative;
  width: 200px;
  height: 100px;
}

.home-flex-comp-1761564399738 {
  position: relative;
  width: 587px;
  height: auto;
  flex-direction: row;
  gap: 8px;
  padding: 0px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.home-button-comp-1761493557594 {
  position: relative;
  width: 120px;
  height: 40px;
}

.home-button-comp-1761494794693 {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border: 2px solid #efefef;
  padding: 6px;
}

.home-flex-comp-1761894659513 {
  position: relative;
  width: 1006.67px;
  height: auto;
  flex-direction: row;
  gap: 8px;
  padding: 0px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.home-custom-1761407990444-comp-1761820012647 {
  position: relative;
  width: 200px;
  height: 100px;
}

.home-custom-1761733420629-comp-1761733436105 {
  position: relative;
  width: 413.75px;
  height: auto;
}
